/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2018, 17:21:42
    Author     : Samuel Porto
*/
/*Reset padrão*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clear{clear: both;}

/*Padronizando a tela raiz*/
body{
    color: #09f;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.050em;
    overflow: hidden;
}
/*.navigator-container{
   
}*/
.navigator-item{
    display: inline-block;
    background: #333;
    float: left;
    height: 100vh;
    width: 100vw;
}

.navigator-item:nth-of-type(1n){background: #ff9999;}
.navigator-item:nth-of-type(2n){background: #09f;}
.navigator-item:nth-of-type(3n){background: #6666ff}
.navigator-item:nth-of-type(4n){background: orange;}

.navigator-item:nth-of-type(4n){
    margin-right: 0;
}
.navigator-controller{
    background: orange;
    position: fixed;
    left: 10px;
    top: 10px;
}
.navigator-controller .next, .navigator-controller .prev{
    cursor: pointer;
}